---
version: "3.9"
services: 
    frontend:  
        build: ./jpetstore-msa-frontend
        ports:
            - "8080:8080" 
        environment:
            TZ: "Asia/Seoul"  

    accounts: 
        #image: "accounts:latest"
        build: ./jpetstore-msa-accounts
        ports:
            - "8081:8080"
        environment:
            TZ: "Asia/Seoul"  

    items: 
        #image: "items:latest"
        build: ./jpetstore-msa-items
        ports:
            - "8082:8080"
        environment:
            TZ: "Asia/Seoul" 

    products: 
        #image: "products:latest"
        build: ./jpetstore-msa-products
        ports:
            - "8083:8080"
        environment:
            TZ: "Asia/Seoul"
 
    categories: 
        #image: "categories:latest"
        build: ./jpetstore-msa-categories
        ports:
            - "8084:8080"
        environment:
            TZ: "Asia/Seoul"            
 
    banners: 
        #image: "banners:latest"
        build: ./jpetstore-msa-banners
        ports:
            - "8085:8080"
        environment:
            TZ: "Asia/Seoul"

    suppliers: 
        #image: "suppliers:latest"
        build: ./jpetstore-msa-suppliers
        ports:
            - "8086:8080"
        environment:
            TZ: "Asia/Seoul"                          
            
    inventories: 
        #image: "categories:latest"
        build: ./jpetstore-msa-inventories
        ports:
            - "8087:8080"
        environment:
            TZ: "Asia/Seoul"                          
            
    carts: 
        #image: "categories:latest"
        build: ./jpetstore-msa-carts
        ports:
            - "8088:8080"
        environment:
            TZ: "Asia/Seoul"                          